<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJOy7zCh9de1Ge1LVD6D6ptQbth_0S9O4</string>
	<key>GCM_SENDER_ID</key>
	<string>393435643490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.smartstudy</string>
	<key>PROJECT_ID</key>
	<string>smartstudy-dc3cd</string>
	<key>STORAGE_BUCKET</key>
	<string>smartstudy-dc3cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393435643490:ios:7c3ec8c2b57f9c1dc79b3b</string>
</dict>
</plist>